<div class="breadcrumbs">
        <span style="margin-left:20px; float:left;"><a href="{% url 'main' %}"> Add Account</a></span>
        <span style="margin-left:20px; float:left;"><a href="{% url 'list' %}"> Change account</a></span>
        <span style="margin-left:20px; float:left;"><a href="{% url 'redeem' %}"> Redeem code</a></span>
        <span style="margin-left:20px; float:left;"><a href="{% url 'codes' %}"> My codes</a></span>
        <br/>
</div>
