{% load staticfiles %}
<html>

<body>
<meta http-equiv="refresh" content="5" >
<link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">
{% include 'header.html' %}
<table>
<tr>
{% for x in h %}
   <th>{{x}}</th>
{% endfor %}
   <th></th>
</tr>

{% for x in objs %}
   <tr {% if x.status == "FAILED" %}style="background-color:silver"{% endif %}>
       <td>{{x.id}}</td>
       <td>{{x.code}}</td>
       <td>{{x.status}}</td>
       <td>{{x.date_used}}</td>
       <td>{{x.account_used.amazon_email}}</td>
       <td>{{x.balance_before}}</td>
       <td>{{x.balance_after}}</td>
       <td>{{x.feedback}}</td>
   </tr>
{% endfor %}

</table>
</body>
</html>