<style type="text/css">
#commonheader{
    width: auto;
    height: 40px;
    padding: 1px 40px;
    background: #000000;
    line-height: 40px;
    color: #ffc;
    overflow: hidden;
}
#commonhtext{
    font-size:165%; 
    color:white; 
    margin:5px;
}
#commonhsubtext{
    font-size:110%; 
    color:white; 
}
.commonloggeduser{
    font-size:100%; 
    color:white; 
    text-align:right;
}
.commonloggeduser:link{
    font-size:100%; 
    color:white; 
    text-align:right;
}
.commonloggeduser:visited{
    font-size:100%; 
    color:white; 
    text-align:right;
}
.commonloggeduser:hover{
    font-size:100%; 
    color:white; 
    text-align:right;
}
.commonloggeduser:active{
    font-size:100%; 
    color:white; 
    text-align:right;
}
.bluebutton{
    background-color:#169BD5;
    color:white;
    border:5px solid;
    border-color:#169BD5;
    border-radius:10px;

}
</style>
<div id="commonheader">
    <div id="branding">
	<a id="commonhtext"><b>AMAZON</b></a><a id="commonhsubtext">GIFT CARD REDEEMER</a>
    </div>
    <div style="text-align:right;">
                       &nbsp; &nbsp;<a class="commonloggeduser">| {{active}} |</a>
    </div>
</div>
{% include 'breadcrumbs.html' %}
