{% load staticfiles %}
<html>

<body>
<link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">
{% include 'header.html' %}
<table>
<tr>
{% for x in h %}
   <th>{{x}}</th>
{% endfor %}
   <th></th>
</tr>

{% for x in objs %}
   <tr>
       <td>{{x.id}}</td>
       <td>{{x.retailer}}</td>
       <td>{{x.amazon_email}}</td>
       <td>******************</td>
       <td>{{x.zipc}}</td>
       <td>{{x.phone}}</td>
       <td>{{x.active}}</td>
       <td>{% if not x.active %} <a href="{% url 'list' %}?activate={{x.id}}">ACTIVATE</a>{% endif %}</td>
   </tr>
{% endfor %}

</table>
</body>
</html>