{% load static %}
<link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">
{% include 'header.html' %}
<div style="width: 350px ;margin-left: auto ;margin-right: auto ;">
<p><p>
<h1 style='text-align:center;'>Add retailer Account</h1>
    <div>
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            <tr>
            <td/><td><input id="submit" type="submit" value="Submit" /></td>
            </tr>
            </table>
        </form>
    </div>
</div>
