{% load staticfiles %}
<html>

<body>
<link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">
{% include 'header.html' %}
<div style="width: 300px ;margin-left: auto ;margin-right: auto ;">
<p><p>
<h1 style='text-align:center;'>Redeem Code</h1>
    <div>
        <form method="post">
            {% csrf_token %}
            <table>
            <td><input id="code" maxlength="64" name="code" required=""></td>
            <td><input id="submit" type="submit" value="Apply Code Now" /></td>
            </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>